.header {
    display: flex;
    /border: 10px solid #ffa;
    justify-content: space-between;
    padding: 10px 200px;

}

.text {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    gap: 0.5rem; /* Reduce gap between text elements */
    flex: 1;
    height: 100%;
    padding: 10px 20px; 
    max-width: 300px; 
}

img {
    width:100px;
    height:100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }

  .firstbox {
    background-color: #1f2937;
    width: 100%;
    height: auto;
     box-sizing: border-box; 
  }

.links{
    display: flex;
    color: #e5e7eb;
    gap: 2rem;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

body {
    margin: 0;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    /* border: 20px solid red; */

}

.textimage {
    /* border: 10px solid red; */
    width: 350px;
    height: auto;
   
    
}

.image1 {
    width: 400px;
    height: 260px;
    object-fit: cover;
}

  button {
    background-color: #3882F6;
    color: whitesmoke;
    padding: 5px 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
  }

  .web {
font-size: 48px;
color: #f9faf8;
font-weight: 900;
  }

  .secondbox {
    background-color: white;
    width: 100%;
    height: auto;
     box-sizing: border-box; 
     padding: 15px;
  }

  .attractions {
    /* border: solid 10px red; */
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;
  }

  .header1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 15px;
  
  }

  .card {
    height: 200px;
    width: 100px;
    justify-content: center;
    align-items: center;
  
  }

  .thirdbox {
    background-color: #e5e7eb;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
  }

  .quote {
    font-size: 18px;
    font-weight: 900;
    color: lightslategray;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .fourthbox {
    background-color: #e5e7eb;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
  }

  .box {
    display: flex;
    justify-content: center;
     /* border: 10px solid firebrick;  */
    height: 100px;
    align-items: center;
    padding: 10px;


  }

  .box1 {
    display: flex;
   background-color: #3882F6;
   flex-direction: column;
   height: 60px;
   width: 600px;
   justify-content: center;
   align-items: center;
   /* border: 10px solid firebrick; */
   padding: 20px;
   overflow: hidden;
   
   
  }

  .button1 {
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
  }

  footer {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(1, 1, 16);
    width: 100%;
    height: auto;
    padding: 20px;
  }